@mixin large-screen {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-up {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile-up {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin tiny-screen {
  @media only screen and (max-width: 360px) {
    @content;
  }
}

$tf-primary: #1976d2;
$tf-secondary: #26a69a;
$tf-success: #21ba45;
$tf-danger: #c10015;
$tf-info: #31ccec;
$tf-warning: #f2c037;
$tf-dark: #1d1d1d;
$tf-light: #dddcdc;

@import "./size.scss";
@import "./fonts.scss";
@import "./borders.scss";
@import "./background.scss";
